/*Universal Selector for Reseting */
* {
        margin: 0;
        padding: 0;
        border: 0;
        outline: 0;
        font-size: 100%;
        vertical-align: baseline;
        background: transparent;
    }

body{
	font-family:'Source Sans Pro', sans-serif;
	background-color:#78a83e;
}
.header-content-home{
	background-image:url("../img/game_background.jpg");
	background-size:cover;
}

.header-content-about{
	background-image:url("../img/game_background_2.jpg");
	background-size:cover;
}

.header-content-contact{
	background-image:url("../img/game_background_3.jpg");
	background-size:cover;
}

.header-content-join{
	background-image:url("../img/game_background_4.png");
	background-size:cover;
}

#header{
	height:69vh;
	width:100vw;
	
}

#header-body > h1{
	color:white;
	width:31%;
	border-bottom:2px solid white;
	border-bottom-left-radius:4px;
	border-bottom-right-radius:4px;
}

#header-body > h3{
	color:white;
}

#header-body > p{
	color:#d8d8d8;

}

#header-body{
	position:relative;
	top:20%;
	left:10%;
	width:60%;
}

.nav-img{
	width:150px;
	height:150px;
	margin-top:-130px;
	margin-left:105px;
	margin-right:105px;
}

.nav-img:hover{
	-webkit-filter: drop-shadow(2px 2px 0 #94ff00)
            drop-shadow(-2px 2px 0 #94ff00)
            drop-shadow(2px -2px 0 #94ff00)
            drop-shadow(-2px -2px 0 #94ff00);

	filter: drop-shadow(2px 2px 0 #94ff00)
	        drop-shadow(-2px 2px 0 #94ff00)
	        drop-shadow(2px -2px 0 #94ff00)
	        drop-shadow(-2px -2px 0 #94ff00);
}

.footer{
	text-align:center;
	color:#147c00;
}

.footer i{
	color:#147c00;
	font-size:72px;
	margin-left:20px;
	margin-right:20px;
}

.footer-author{
	font-weight:bold;
}

i:hover{
	color:#94ff00;
}

.rowItem{
	display:inline-block;
	vertical-align:top;
}

#home, #about, #contact, #join{
	display:none;
	position:relative;
	top:-135px;
	font-size:24px;
	color:#aced53;
	margin-left:145px;
	margin-right:110px;
}

.container{
	margin-top:-20px;
	width:125%;
	margin:auto;
	background-color:green;
	opacity:0.9;
	border-radius:15px;
}

.content{
	padding:5px;
	width:46%;
	display:inline-block;
	vertical-align:top;
	font-family: "Source Sans Pro", sans-serif;
	color:#94ff00;
}

.content-img{
	float: left;
	margin-right:20px;
	border-radius:15px;
	width:50px;
	height:50px;
}

.contact-page{
	font-size:50px;
}

a{
	color:white;
	text-decoration:none;
	font-weight:bold;
	}